* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.3125rem;
  font-weight: 800;
}

p {
  font-size: 1.125rem;
  line-height: 1.44;
}

span {
  font-size: 0.875rem;
  font-weight: 800;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.bg_rec {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #fff, #e9f6fa);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 77%);
}
.bg_rec.article {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.bg_figure {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .bg_figure {
    display: block;
    position: absolute;
    left: 0;
    top: 5rem;
    height: 30rem;
    width: 100%;
    object-fit: contain;
    z-index: -1;
  }

  .bg_rec {
    height: 37rem;
  }
  .bg_rec.article {
    height: 20rem;
  }
}
@media only screen and (min-width: 1536px) {
  h1 {
    font-size: 3.75rem;
  }

  .bg_rec {
    height: 62rem;
  }
  .bg_rec.article {
    height: 30rem;
  }

  .bg_figure {
    height: 55rem;
    width: 90%;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 0.75rem;
}

.logo_container {
  height: 100%;
  z-index: 30;
}
.logo_container img:nth-child(1) {
  height: 100%;
  transform: translateY(-1px);
  object-fit: contain;
}
.logo_container img:nth-child(2) {
  display: none;
}

.menu_container {
  z-index: 19;
  position: fixed;
  transform: translateX(100%);
  height: 100%;
  width: 15rem;
  background-image: linear-gradient(to bottom, #fff, #e9f6fa);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.menu_container.active {
  transform: translateX(0);
}
.menu_container .eu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.4;
  gap: 2rem;
}
.menu_container .eu_container img {
  object-fit: contain;
}
.menu_container .nav {
  flex: 0.2;
}
.menu_container .nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu_container .nav ul li {
  font-weight: 800;
}
.menu_container .nav ul li a {
  position: relative;
  color: #213f7e;
}
.menu_container .nav ul li a::after {
  content: "";
  background: #25a5d2;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.menu_container .nav ul li a:hover {
  color: #25a5d2;
}
.menu_container .nav ul li a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.menu_container .socialIcons_container {
  flex: 0.4;
  display: flex;
  gap: 1rem;
}
.menu_container .socialIcons_container a {
  position: relative;
  height: 18px;
}
.menu_container .socialIcons_container a::after {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.menu_container .socialIcons_container a:nth-child(1)::after {
  background: #FF0000;
}
.menu_container .socialIcons_container a:nth-child(2)::after {
  background: linear-gradient(to right, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.menu_container .socialIcons_container a:nth-child(3)::after {
  background: #1DA1F2;
}
.menu_container .socialIcons_container a:nth-child(4)::after {
  background: #4267B2;
}
.menu_container .socialIcons_container a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.menu_container .socialIcons_container a img {
  object-fit: contain;
}

.burger {
  cursor: pointer;
  z-index: 20;
  padding: 0 0.75rem;
}
.burger div {
  width: 2rem;
  height: 0.25rem;
  background: #213f7e;
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in;
}
.burger div:nth-child(2) {
  margin: 0.5rem 0;
}
.burger.active div:nth-child(1) {
  transform: rotate(45deg);
}
.burger.active div:nth-child(2) {
  display: none;
}
.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

@media only screen and (min-width: 768px) {
  .header {
    width: 85%;
    margin: 0 auto;
  }

  .menu_container {
    width: 20rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    justify-content: unset;
  }

  .burger {
    display: none;
  }

  .menu_container {
    transform: translateX(0);
    position: unset;
    background: none;
    flex-direction: row;
    flex: 1;
    margin-left: 6.5rem;
  }
  .menu_container .eu_container {
    flex: 1;
    justify-content: flex-start;
  }
  .menu_container .eu_container img:nth-child(1) {
    width: max-content;
    max-height: 1.8rem;
  }
  .menu_container .eu_container img:nth-child(2) {
    display: none;
  }
  .menu_container .nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .menu_container .nav ul {
    flex-direction: row;
    gap: 2rem;
  }
  .menu_container .nav ul li a {
    padding-bottom: 0.3rem;
  }
  .menu_container .nav ul li a::after {
    display: block;
  }
  .menu_container .socialIcons_container {
    flex: 1;
    justify-content: flex-end;
  }
  .menu_container .socialIcons_container a {
    padding-top: 0.3rem;
  }
  .menu_container .socialIcons_container a::after {
    display: block;
  }
}
@media only screen and (min-width: 1536px) {
  .header {
    width: 80%;
    height: 9.375rem;
    transform: translateY(-2px);
  }

  .logo_container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .logo_container img:nth-child(1) {
    transform: translateY(-2px);
  }
  .logo_container img:nth-child(2) {
    display: block;
  }

  .nav ul {
    gap: 2.5rem;
  }

  .socialIcons_container {
    gap: 1.25rem;
  }
}
@media only screen and (min-width: 1920px) {
  .header {
    width: 75%;
  }
}
.hp_main {
  padding: 0 0.75rem;
  position: relative;
  z-index: 1;
}

.hp_hero, .hp_about {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.hp_hero_content, .hp_about_content {
  margin-bottom: 2rem;
}
.hp_hero_content h3, .hp_about_content h3 {
  color: #25a5d2;
  margin-bottom: 0.75rem;
}
.hp_hero_content h1, .hp_about_content h1 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.hp_hero_content p, .hp_about_content p {
  color: #6076a3;
  margin-bottom: 1.5rem;
}
.hp_hero_content a, .hp_about_content a {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  padding: 0.4rem 0.6rem;
  background: #25a5d2;
  border-radius: 4px;
  transition: all 0.15s ease-in;
}
.hp_hero_content a:hover, .hp_about_content a:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #0094ca;
}

.hp_hero_img_container {
  height: 14.7rem;
  width: 75%;
  margin: 0 auto;
}

.hp_hero_img_inner {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
.hp_hero_img_inner > div {
  position: absolute;
  filter: drop-shadow(1px 10px 10px rgba(33, 63, 126, 0.18));
}
.hp_hero_img_inner > div img {
  object-fit: cover;
  height: 100%;
}
.hp_hero_img_inner > div:nth-child(1) {
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
}
.hp_hero_img_inner > div:nth-child(1) img {
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
}
.hp_hero_img_inner > div:nth-child(2) {
  width: 50%;
  height: 70%;
  right: 0;
  bottom: 0;
}
.hp_hero_img_inner > div:nth-child(2) img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}

.hp_about_img_container {
  display: flex;
  justify-content: center;
}

.hp_about {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
  .hp_main {
    width: 85%;
    margin: 0 auto;
  }

  .hp_hero_img_container {
    width: 50%;
    height: 18rem;
  }

  .hp_about_img_container img {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .hp_hero_img_container {
    width: 35%;
  }

  .hp_about_img_container {
    flex: 0.5;
  }
  .hp_about_img_container img {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .hp_hero {
    flex-direction: row;
    height: 40rem;
  }

  .hp_about {
    flex-direction: row;
  }

  .hp_hero_content {
    transform: translateX(32%);
  }

  .hp_hero_content, .hp_about_content {
    flex: 0.5;
  }

  .hp_hero_img_container {
    flex: 0.5;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .hp_hero_img_inner {
    height: 55%;
    width: 60%;
    margin-left: auto;
  }

  .hp_about_img_container {
    flex: 0.5;
    margin-right: 3rem;
  }
  .hp_about_img_container img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 1536px) {
  .hp_main {
    width: 80%;
  }

  .hp_hero {
    padding: 6.5rem 0;
    height: 64.5rem;
  }

  .hp_hero_img_inner {
    height: 50%;
    width: 65%;
  }

  .hp_about {
    padding-top: 0;
    padding-bottom: 6.5rem;
  }

  .hp_about_content {
    margin-left: 3rem;
  }

  .hp_hero_content, .hp_about_content {
    margin-bottom: 0;
  }
  .hp_hero_content h3, .hp_about_content h3 {
    margin-bottom: 1.25rem;
  }
  .hp_hero_content h1, .hp_about_content h1 {
    margin-bottom: 1.25rem;
  }
  .hp_hero_content p, .hp_about_content p {
    margin-bottom: 2.5rem;
  }
  .hp_hero_content a, .hp_about_content a {
    padding: 0.75rem 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  .hp_main {
    width: 75%;
  }

  .hp_hero_img_inner {
    width: 70%;
    height: 55%;
  }

  .hp_hero_content h1, .hp_hero_content p {
    width: 72%;
  }
}
.news {
  padding: 2rem 0;
}

.news_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.news_header h1 {
  color: #213f7e;
}
.news_header a {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  padding: 0.4rem 0.6rem;
  background: #25a5d2;
  border-radius: 4px;
  transition: all 0.15s ease-in;
}
.news_header a:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #0094ca;
}

.news_container {
  display: flex;
  flex-direction: column;
}

.news_article:not(:last-child) {
  margin-bottom: 2.5rem;
}
.news_article > div:nth-child(1) {
  filter: drop-shadow(1px 10px 10px rgba(33, 63, 126, 0.18));
}
.news_article > div:nth-child(1) img {
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}
.news_article > div:nth-child(2) span {
  color: #6076a3;
}
.news_article > div:nth-child(2) h2 {
  color: #213f7e;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: 1.4rem;
}
.news_article > div:nth-child(2) a {
  border: 1px solid #25a5d2;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  color: #25a5d2;
  font-weight: bold;
  position: relative;
  transition: color 0.2s ease-in;
}
.news_article > div:nth-child(2) a::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 0;
  background: #25a5d2;
  transition: height 0.2s ease-in;
  z-index: -1;
}
.news_article > div:nth-child(2) a:hover {
  color: white;
}
.news_article > div:nth-child(2) a:hover::after {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .news_container {
    width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .news_container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.15rem;
  }

  .news_article {
    width: 250px;
  }
}
@media only screen and (min-width: 1536px) {
  .news {
    padding-top: 0;
    padding-bottom: 6.5rem;
  }

  .news_header {
    margin-bottom: 1.25rem;
  }
  .news_header a {
    padding: 0.75rem 2rem;
  }

  .news_article {
    width: 340px;
  }
}
@media only screen and (min-width: 1920px) {
  .news_container {
    gap: 0;
    justify-content: space-between;
  }
}
.partners {
  padding: 2rem 0;
}
.partners h1 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}

.partners_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.partners_container a {
  transition: all 0.2s ease-in;
}
.partners_container a:hover {
  filter: drop-shadow(rgba(149, 157, 165, 0.2) 0px 8px 24px);
}
.partners_container a img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

@media only screen and (min-width: 1280px) {
  h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 1536px) {
  .partners {
    padding-top: 0;
    padding-bottom: 6.5rem;
  }
  .partners h1 {
    margin-bottom: 1.25rem;
  }

  .partners_container {
    gap: 2rem;
  }
}
.footer {
  color: white;
  position: relative;
  margin-top: 7rem;
}

.footer_bg_img {
  display: none;
}

.footer_bg {
  position: relative;
}
.footer_bg .triangle1 {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: -4.9rem;
  left: 0;
  z-index: 2;
  background: #213f7e;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.footer_bg .triangle2 {
  width: 75%;
  height: 5rem;
  position: absolute;
  top: -4.95rem;
  right: 0;
  z-index: 1;
  background: #25a5d2;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.footer_bg_logo {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  position: absolute;
  top: -8.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer_container {
  padding: 2rem 0.75rem;
  padding-top: 3rem;
  z-index: 2;
  background: #213f7e;
}

.footer_content {
  position: relative;
}
.footer_content > div:not(:last-child) {
  margin-bottom: 2rem;
}
.footer_content span {
  line-height: 1.57;
}
.footer_content .row1 {
  display: flex;
}
.footer_content .row1 > div {
  flex: 0.3;
}
.footer_content .row1 > div img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  align-self: flex-start;
  flex: 0.5;
}
.footer_content .row1 ul {
  flex: 0.7;
  display: flex;
}
.footer_content .row1 ul li {
  font-size: 1rem;
  font-weight: 800;
}
.footer_content .row1 ul li:not(:last-child) {
  margin-right: 1.5rem;
}
.footer_content .row1 ul li a {
  color: white;
  position: relative;
}
.footer_content .row1 ul li a::after {
  content: "";
  background: #25a5d2;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.footer_content .row1 ul li a:hover {
  color: #25a5d2;
}
.footer_content .row1 ul li a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.footer_content .row2 {
  display: flex;
  flex-direction: column;
}
.footer_content .row2 > div:not(:last-child) {
  margin-bottom: 2rem;
}
.footer_content .row2 > div:nth-child(1) {
  display: flex;
}
.footer_content .row2 > div:nth-child(1) img {
  object-fit: contain;
}
.footer_content .row2 > div:nth-child(1) img:nth-child(1) {
  margin-right: 2rem;
}
.footer_content .row2 > div:nth-child(2) h3, .footer_content .row2 > div:nth-child(3) h3 {
  margin-bottom: 0.25rem;
}
.footer_content .row2 > div:nth-child(2) span, .footer_content .row2 > div:nth-child(3) span {
  font-weight: 400;
}
.footer_content .row2 > div:nth-child(4) h3 {
  margin-bottom: 0.75rem;
}
.footer_content .row2 > div:nth-child(4) > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer_content .row2 > div:nth-child(4) > div a {
  position: relative;
}
.footer_content .row2 > div:nth-child(4) > div a::after {
  content: "";
  background: white;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.footer_content .row2 > div:nth-child(4) > div a:hover {
  color: #25a5d2;
}
.footer_content .row2 > div:nth-child(4) > div a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.footer_content .row3 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer_content .row3 span {
  font-weight: 400;
}
.footer_content .row3 span a {
  color: white;
  text-decoration: underline;
}
.footer_content .row3 button {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer_content {
    width: 85%;
    margin: 0 auto;
  }
  .footer_content .row2 {
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_content .row2 > div:not(:last-child) {
    margin-bottom: 0;
  }
  .footer_content .row3 {
    padding-top: 2rem;
    border-top: solid 1px rgba(255, 255, 255, 0.16);
    justify-content: space-between;
    align-items: center;
  }
  .footer_content .row3 button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in;
  }
  .footer_content .row3 button:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    margin-top: 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    margin-top: 11rem;
  }

  .footer_bg_logo {
    top: -11rem;
  }

  .footer_bg .triangle1, .footer_bg .triangle2 {
    height: 10rem;
  }
  .footer_bg .triangle1 {
    top: -9.9rem;
  }
  .footer_bg .triangle2 {
    top: -9.95rem;
    width: 85%;
  }

  .footer_content .row1 ul li a {
    padding-bottom: 0.3rem;
  }
  .footer_content .row1 ul li a::after {
    display: block;
  }

  .footer_content .row2 > div:nth-child(4) > div a {
    padding-bottom: 0.2rem;
  }
  .footer_content .row2 > div:nth-child(4) > div a::after {
    display: block;
  }
}
@media only screen and (min-width: 1536px) {
  .footer {
    margin-top: 14.5rem;
  }

  .footer_bg_img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 15%;
    object-fit: contain;
  }

  .footer_bg_logo {
    width: 7.25rem;
    height: 12rem;
    top: -14.5rem;
  }

  .footer_content {
    width: 80%;
  }
  .footer_content > div:not(:last-child) {
    margin-bottom: 4.5rem;
  }
  .footer_content .row1 > div {
    flex: 0.4;
  }
  .footer_content .row1 > div img {
    width: 5rem;
    height: 3.75rem;
  }
  .footer_content .row1 ul {
    flex: 0.6;
    gap: 1.25rem;
  }
  .footer_content .row2 {
    gap: 10rem;
  }
  .footer_content .row2 > div:nth-child(1) {
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  .footer_content {
    width: 75%;
  }

  .footer_bg_img {
    right: 17%;
  }
}
.article_main {
  padding: 0 0.75rem;
}

.article_container {
  margin: 2rem 0;
}

.article_img_container {
  filter: drop-shadow(1px 10px 10px rgba(33, 63, 126, 0.18));
}
.article_img_container img {
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}

.article_content span {
  color: #6076a3;
}
.article_content h1 {
  color: #213f7e;
  margin: 0.75rem 0;
}
.article_content .anotace {
  color: #6076a3;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.article_content p {
  color: #6076a3;
}
.article_content > p {
  margin-bottom: 2rem;
}
.article_content .typo_imgAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.article_content .typo_imgAndText > div:nth-child(1) {
  margin-bottom: 1.05rem;
  filter: drop-shadow(1px 10px 10px rgba(33, 63, 126, 0.18));
  width: 15rem;
}
.article_content .typo_imgAndText > div:nth-child(1) img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}
.article_content .quotation {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  border-left: 5px solid #25a5d2;
}
.article_content .quotation h2:nth-child(1) {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.article_content .quotation h2:nth-child(2) {
  color: #6076a3;
  font-weight: 400;
  line-height: 1.33;
}
.article_content .typo_list {
  margin-bottom: 2rem;
}
.article_content .typo_list h2 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.article_content .typo_list ul li {
  font-size: 1.125rem;
  color: #6076a3;
}
.article_content .typo_list ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.article_content .typo_list ul li img {
  margin-right: 0.75rem;
}

.article_share_container {
  width: max-content;
  margin: 0 auto;
}
.article_share_container h2 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.article_share_container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article_share_container > div a {
  position: relative;
}
.article_share_container > div a::after {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.article_share_container > div a:nth-child(1)::after {
  background: #1DA1F2;
}
.article_share_container > div a:nth-child(2)::after {
  background: #4267B2;
}
.article_share_container > div a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.article_share_container > div a img {
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .article_main {
    width: 85%;
    margin: 0 auto;
  }

  .article_container {
    background: white;
    box-shadow: 0 22px 64px 10px rgba(96, 118, 163, 0.11);
  }

  .article_content {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .article_container {
    width: 675px;
    margin: 2rem auto;
  }
}
@media only screen and (min-width: 1280px) {
  .article_share_container > div a {
    padding-bottom: 0.3rem;
  }
  .article_share_container > div a::after {
    display: block;
  }
}
@media only screen and (min-width: 1536px) {
  .article_main {
    width: 80%;
  }

  .article_container {
    width: 775px;
    margin: 6.5rem auto;
    margin-top: 1.1rem;
  }

  .article_img_container {
    height: 570px;
  }
  .article_img_container img {
    height: 100%;
    width: 100%;
  }

  .article_content {
    padding: 0 3rem;
    padding-bottom: 3rem;
  }
  .article_content h1 {
    margin-bottom: 1.25rem;
  }
  .article_content .anotace {
    font-size: 1.5rem;
    line-height: 1.58;
    margin-bottom: 2.25rem;
  }
  .article_content > p {
    margin-bottom: 3rem;
  }
  .article_content .typo_imgAndText {
    gap: 1.8rem;
  }
  .article_content .typo_imgAndText.left {
    flex-direction: row;
  }
  .article_content .typo_imgAndText.right {
    flex-direction: row-reverse;
  }
  .article_content .typo_imgAndText > div:nth-child(1) {
    margin-bottom: 0;
    flex: 0.25;
    width: 9.5rem;
  }
  .article_content .typo_imgAndText > div:nth-child(1) img {
    width: 100%;
    height: 13rem;
  }
  .article_content .typo_imgAndText p {
    flex: 0.75;
  }

  .article_share_container {
    margin: 6.5rem auto;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .article_main {
    width: 75%;
  }

  .article_container {
    width: 940px;
  }

  .article_content .typo_imgAndText > div:nth-child(1) {
    flex: 0.2;
  }
  .article_content .typo_imgAndText p {
    flex: 0.8;
  }
}
.text_main {
  padding: 0 0.75rem;
}

.text_container {
  margin: 2rem 0;
}

.text_content h1 {
  color: #213f7e;
  margin-bottom: 1.5rem;
}
.text_content .anotace {
  color: #6076a3;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.text_content p {
  color: #6076a3;
}
.text_content > p {
  margin-bottom: 2rem;
}
.text_content .typo_imgAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.text_content .typo_imgAndText > div:nth-child(1) {
  margin-bottom: 1.05rem;
  filter: drop-shadow(1px 10px 10px rgba(33, 63, 126, 0.18));
  width: 15rem;
}
.text_content .typo_imgAndText > div:nth-child(1) img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}
.text_content .quotation {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  border-left: 5px solid #25a5d2;
}
.text_content .quotation h2:nth-child(1) {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.text_content .quotation h2:nth-child(2) {
  color: #6076a3;
  font-weight: 400;
  line-height: 1.33;
}
.text_content .typo_list {
  margin-bottom: 2rem;
}
.text_content .typo_list h2 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.text_content .typo_list ul li {
  font-size: 1.125rem;
  color: #6076a3;
}
.text_content .typo_list ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.text_content .typo_list ul li img {
  margin-right: 0.75rem;
}

.text_share_container {
  width: max-content;
  margin: 0 auto;
}
.text_share_container h2 {
  color: #213f7e;
  margin-bottom: 0.75rem;
}
.text_share_container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_share_container > div a {
  position: relative;
}
.text_share_container > div a::after {
  content: "";
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.text_share_container > div a:nth-child(1)::after {
  background: #1DA1F2;
}
.text_share_container > div a:nth-child(2)::after {
  background: #4267B2;
}
.text_share_container > div a:hover::after {
  right: auto;
  width: 100%;
  left: 0;
}
.text_share_container > div a img {
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .text_main {
    width: 85%;
    margin: 0 auto;
  }

  .text_container {
    background: white;
    box-shadow: 0 22px 64px 10px rgba(96, 118, 163, 0.11);
  }

  .text_content {
    padding: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .text_container {
    width: 675px;
    margin: 2rem auto;
  }
}
@media only screen and (min-width: 1280px) {
  .text_share_container > div a {
    padding-bottom: 0.3rem;
  }
  .text_share_container > div a::after {
    display: block;
  }
}
@media only screen and (min-width: 1536px) {
  .text_main {
    width: 80%;
  }

  .text_container {
    width: 775px;
    margin: 6.5rem auto;
    margin-top: 1.1rem;
  }

  .text_content {
    padding: 3rem;
  }
  .text_content h1 {
    margin-bottom: 2.5rem;
  }
  .text_content .anotace {
    font-size: 1.5rem;
    line-height: 1.58;
    margin-bottom: 2.25rem;
  }
  .text_content > p {
    margin-bottom: 3rem;
  }
  .text_content .typo_imgAndText {
    gap: 1.8rem;
  }
  .text_content .typo_imgAndText.left {
    flex-direction: row;
  }
  .text_content .typo_imgAndText.right {
    flex-direction: row-reverse;
  }
  .text_content .typo_imgAndText > div:nth-child(1) {
    margin-bottom: 0;
    flex: 0.25;
    width: 9.5rem;
  }
  .text_content .typo_imgAndText > div:nth-child(1) img {
    width: 100%;
    height: 13rem;
  }
  .text_content .typo_imgAndText p {
    flex: 0.75;
  }

  .text_share_container {
    margin: 6.5rem auto;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .text_main {
    width: 75%;
  }

  .text_container {
    width: 940px;
  }

  .text_content .typo_imgAndText > div:nth-child(1) {
    flex: 0.2;
  }
  .text_content .typo_imgAndText p {
    flex: 0.8;
  }
}

/*# sourceMappingURL=style.css.map */
