* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.3125rem;
    font-weight: 800;
}

p {
    font-size: 1.125rem;
    line-height: 1.44;
}

span {
    font-size: 0.875rem;
    font-weight: 800;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


img {
    max-width: 100%;
}