// colors
$dark_blue: #213f7e;
$medium_blue: #6076a3;
$light_blue: #25a5d2;

// spacing
$mobile_spacingX: 0.75rem;
$mobile_sectionSpacingY: 2rem;
$lgLaptop_sectionSpacingY: 6.5rem;

// spacing - text
$mobile_textSpacing: 0.75rem;
$lgLaptop_textSpacing: 1.25rem;

